In [1]:
import numpy as np 
import pandas as pd

In [60]:
# Visualize the dataset.
"""df = pd.read_table("./DATA/s1/train_5core.tsv")
df.head()"""

       userId    itemId  rating
0  s1U1109116  P1011533     1.0
1  s1U1108937  P1005973     1.0
2  s1U1114175  P1023744     1.0
3  s1U1031014  P1006341     1.0
4  s1U1082675  P1006604     1.0

In [74]:
# Dataset path list.
data = ["./DATA/s1/train_5core.tsv","./DATA/s2/train_5core.tsv","./DATA/s3/train_5core.tsv","./DATA/t1/train_5core.tsv","./DATA/t2/train_5core.tsv"]

for i in range(0,5):

    # Loading the first dataset then checking some imperfections, then cleaning it.
    df = pd.read_table(data[i])
    print("\nDATASET: {}".format(data[i][7:9]))
    print(df.isna().sum())
    print(df.duplicated().sum())
    df = df.drop_duplicates()

    # Total row.
    print("\nTotal row:")
    print(df.shape[0])

    # Item average per user.
    print("\nItem Average per User:")
    print(df.shape[0] / df["userId"].nunique())

    print("\nUnique User Id - Prdoduct Id Count:")
    print(str(df["userId"].nunique()) + "-" + str(df["itemId"].nunique()))

    # Matching datasets and checking if they have any user or product intersection.
    j = i + 1
    while j < 5:
        df2 = pd.read_table(data[j])
        print("\n{}-{} Number of userId's that intersect: {}".format(data[i][7:9], data[j][7:9], len(list(set(df["userId"].unique()) & set(df2["userId"].unique())))))
        print("{}-{} Number of itemId's that intersect: {}".format(data[i][7:9], data[j][7:9], len(list(set(df["itemId"].unique()) & set(df2["itemId"].unique())))))
        j += 1

DATASET: s1
userId    0
itemId    0
rating    0
dtype: int64
208

Total row:
76965

Item Average per User:
11.903031240334055

Unique User Id - Prdoduct Id Count:
6466-9762

s1-s2 Number of userId's that intersect: 0
s1-s2 Number of itemId's that intersect: 1198

s1-s3 Number of userId's that intersect: 0
s1-s3 Number of itemId's that intersect: 752

s1-t1 Number of userId's that intersect: 0
s1-t1 Number of itemId's that intersect: 796

s1-t2 Number of userId's that intersect: 0
s1-t2 Number of itemId's that intersect: 1834

DATASET: s2
userId    0
itemId    0
rating    0
dtype: int64
137

Total row:
48165

Item Average per User:
6.775214516809678

Unique User Id - Prdoduct Id Count:
7109-2198

s2-s3 Number of userId's that intersect: 0
s2-s3 Number of itemId's that intersect: 816

s2-t1 Number of userId's that intersect: 0
s2-t1 Number of itemId's that intersect: 863

s2-t2 Number of userId's that intersect: 0
s2-t2 Number of itemId's that intersect: 789

DATASET: s3
userId    0
itemId    0
rating    0
dtype: int64
131

Total row:
23236

Item Average per User:
6.981971153846154

Unique User Id - Prdoduct Id Count:
3328-1245

s3-t1 Number of userId's that intersect: 0
s3-t1 Number of itemId's that intersect: 712

s3-t2 Number of userId's that intersect: 0
s3-t2 Number of itemId's that intersect: 548

DATASET: t1
userId    0
itemId    0
rating    0
dtype: int64
132

Total row:
19483

Item Average per User:
7.223952539859103

Unique User Id - Prdoduct Id Count:
2697-1357

t1-t2 Number of userId's that intersect: 0
t1-t2 Number of itemId's that intersect: 530

DATASET: t2
userId    0
itemId    0
rating    0
dtype: int64
165

Total row:
41061

Item Average per User:
7.490149580445093

Unique User Id - Prdoduct Id Count:
5482-2917